0.1/App/static/* linguist-vendored
0.2/App/static/* linguist-vendored
0.3/App/static/* linguist-vendored
0.4/App/static/* linguist-vendored
0.5/App/static/* linguist-vendored
0.6/App/static/* linguist-vendored
0.7/App/static/* linguist-vendored
0.8/App/static/* linguist-vendored
0.9/App/static/* linguist-vendored