<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/admin/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/admin/css/style.default.premium.688adad1.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../static/admin/css/custom.0a822280.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/admin/img/favicon.3903ee9d.ico">
    <link rel="stylesheet" href="../../static/admin/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<section class="vh-100" style="background-color: #0272c6;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <form class="card-body p-5 text-center" method="POST" action="">
                        <h3 class="mb-5">Войти</h3>
                        <div class="form-outline mb-4">
                            <input type="text" id="nick" name="nick" class="form-control form-control-lg"/>
                            <label class="form-label" for="typeEmailX-2">Ник</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="password" name="password" class="form-control form-control-lg"/>
                            <label class="form-label" for="typePasswordX-2">Пароль</label>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="../../static/admin/js/home-premium.82d409ff.js"></script>
<!-- Main File-->
<script src="../../static/admin/js/front.df077648.js"></script>
<script src="../../static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/admin/vendor/just-validate/js/just-validate.min.js"></script>

<script src="../../static/admin/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="../../static/admin/js/js-cookie.0d5f0e08.js"></script>
<script src="../../static/admin/js/MyJs/autoLoad.js"></script>
</html>